<section id="home" class="home open">
</section>
<section id="used&clothing" class="used&clothing open active">
	<%= link_to snaps_path, style: "color: #fff;" do %>
	<h1>SNAP SHOT</h1>
	<% end %>
	<div class="section-content">
		<div class="section-main">
			<h2>SNAP SHOT</h2>
			<div class="snapshot-list">
				<ul>
					<% @snaps.each do |snap| %>
						<li class="box-number">
							<div class="snapshot-inner">
								<div>
									<ul class="snapshotimage">
									<% snap.snap_images.each do |image| %>
										<%= attachment_image_tag image, :image%>
									<% end %>
									</ul>
								</div>
								<table class="snapinfo">
									<th class="snapname"><%= snap.snap_name %></th>
									<% snap.items.each do |item| %>
										<tr>
											<td class="genre"><%= item.genre.genre_name %></td>
											<td class="snapitem"><%= item.item_name %></td>
										</tr>
									<% end %>
								</table>
							</div>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</section>
<section id="deli&cafe" class="deli&cafe">
<%= link_to delis_path do %>
	<h1>DELI CAFE</h1>
	<% end %>
<div class="section-content">
</div>
</section>
<section id="artspace" class="artspace">
	<%= link_to arts_path do %>
	<h1>ART SPACE</h1>
	<% end %>
	<div class="section-content">
	</div>
</section>
