<%= form_for @contact, :url => contacts_confirm_path do |f| %>
  <div class="page-header">
    <h1 style="margin-top: 50px; text-align: center; display: block; color: #121212; font: italic 40px '';">CONTACT</h1>
    <p style="text-align: center; color: #121212; font: italic; line-height: 1.5; ">お洋服の買取希望、Art Spaceのご利用について、等々お気軽にお問合せください!<br>
    ※商品の問い合わせに関しては、お電話でのお問い合わせを御願い致します</p>
  </div>
 
  <% if @contact.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <strong>入力内容にエラーがあります</strong>
      <ul>
        <% @contact.errors.each do |attr, msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <table class="table">
    <tr>
      <th style="text-align: right;">名前<span class="text-danger">（必須）</span></th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th style="text-align: right;"">メールアドレス<span class="text-danger">（必須）</span></th>
      <td><%= f.text_field :email %></td>
    </tr>
    <tr>
      <th style="text-align: right;"">お問い合わせ内容</th>
      <td><%= f.text_area :message %></td>
    </tr>
  </table>
  <div style="text-align: center;">
  <%= f.submit '確認', class: 'btn btn-primary', style: 'margin: 0 auto;' %>
  </div>
  <% end %>
