<div class="panel panel-default container", style="margin-top: 70px;" >
	<div class="panel-body" >
		<%= form_for(@product, url: admin_products_path, html: {class: 'form-horizontal'}) do |f| %>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="InputText">Product Name</label>
				<div class="col-sm-10">
					<%= f.text_field :product_name, id:"InputText", class:"form-control", placeholder:"商品名を入力して下さい。" %>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="InputSelect">Gender</label>
				<div class="col-sm-10">
					<%= f.select :gender, ['Ladys', 'Mens', 'Unisex'], {include_blank: '選択して下さい'}, class: 'form-control gender-area' %>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="InputText">Size</label>
				<div class="col-sm-10">
					<%= f.text_field :size, id:"InputText", class:"form-control", placeholder:"サイズを入力して下さい" %>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="InputText">Price</label>
				<div class="col-sm-2">
					<div class="input-group">
						<span class="input-group-addon">￥</span>
						<%= f.number_field :price, class:"form-control input-sm" %>
					</div>
				</div>
				<p class="form-control-static">(半角数字)</p>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="InputFile">Product Image</label>
				<div class="col-sm-10">
					<%= f.attachment_field :product_images_images, id:"InputFile", multiple: true %>
				</div>
			</div>
			<%= f.submit '作成する', class:"btn btn-primary center-block" %>
		<% end %>
	</div>
	<div class="panel-footer" >
	</div>
</div>

