<section id="home" class="home open">
	<p class="outline-title">MAMETRA</p>
</section>
<section id="used&clothing" class="used&clothing open active">
	<%= link_to products_path, style: "color: #fff;" do %>
	<h1>CLOTHES & SNAP</h1>
	<% end %>
	<div class="section-content">
		<div class="section-main">
			<div class="section-sec">
				<h2>CLOTHES</h2>
				<%= image_tag "used_clothing.jpg" %>
			</div>
			<div class="section-sec">
				<h2>SNAP</h2>
				<%= image_tag "snap_shot.jpg" %>
			</div>
		</div>
	</div>
</section>
<section id="deli&cafe" class="deli&cafe">
	<%= link_to delis_path do %>
	<h1>DELI CAFE</h1>
	<% end %>
	<div class="section-content">
	</div>
</section>
<section id="artspace" class="artspace">
	<%= link_to arts_path do %>
	<h1>ART SPACE</h1>
	<% end %>
	<div class="section-content">
	</div>
</section>
