<section id="home" class="home open">
	<p class="outline-title">MAMETRA</p>
</section>
<section id="used&clothing" class="used&clothing open active">
	<%= link_to products_path, style: "color: #fff;" do %>
	<h1>CLOTHES & SNAP</h1>
	<% end %>
	<div class="section-content">
		<div class="section-main">
		<h2>USED CLOTHING</h2>
		<div id="nav-bar">
			<ul class="nav">
				<%= link_to "ALL", products_path, class: "genderlist" %>
				<%= link_to "LADY'S", products_show_path(@gender, gender: 'Ladys'), class: "genderlist" %>
				<%= link_to "MEN'S", products_show_path(@gender, gender: 'Mens'), class: "genderlist" %>
				<%= link_to "UNISEX", products_show_path(@gender, gender: 'Unisex'), class: "genderlist" %>
				<%= link_to "SNAP SHOT", snaps_path, class: "genderlist" %>
			</ul>
		</div>
		<div class="product-list">
			<ul>
				<% @products.each do |product| %>
					<li class="box-number">
						<div class="product-inner">
							<div>
								<ul class="productimage">
									<% product.product_images.each do |image| %>
										<%= attachment_image_tag image, :image%>
									<% end %>
								</ul>
							</div>
							<div class="name">
								<p>
									<span><%= product.gender %>(<%= product.size %>)</span>
									<%= product.product_name %>
								</p>
							</div>
							<p class="priceen">¥<%= product.price %>+tax
							<span><%= product.statuss %></span></p>
						</div>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
	</div>
</section>
<section id="deli&cafe" class="deli&cafe">
	<%= link_to delis_path do %>
	<h1>DELI CAFE</h1>
	<% end %>
	<div class="section-content">
	</div>
</section>
<section id="artspace" class="artspace">
	<%= link_to arts_path do %>
	<h1>ART SPACE</h1>
	<% end %>
	<div class="section-content">
	</div>
</section>
